
.img-backgroung {
    background-image: url('../../public/imgBackground.svg');
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}


.imgCardTreino img {
    height: 20rem;
    
} 
.imgCardTreino{
    margin: 0 auto;
}
@media (max-width: 500px) {
    .pagina {
      margin: none;
    }
  }
  .pagina {
    width: 22.5rem;
    margin: 0 auto;
    
    background-color: black;
    height: 100vh;
  }